.containerNavbar {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}
.titleNavbar {
  font-weight: 700;
  font-size: 18px;
  color: #1e1f21;
  margin: 0px;
}
